@font-face {
    font-family: 'Script MT';
    src: url('ScriptMTBold.woff2') format('woff2'),
        url('ScriptMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

