.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
queries

/vendor/
/theme/

uploads/banners/*
!uploads/banners/index.html
uploads/category/*
!uploads/category/index.html
uploads/gallery/*
!uploads/gallery/index.html
uploads/products/*
!uploads/products/index.html
uploads/teams/*
!uploads/teams/index.html
uploads/tutorials/*
!uploads/tutorials/index.html